/* ### CQL Info Hint and CQL Help ### */
.cq-queryEl-keyword {
	color: #9933cc;
}

.cq-queryEl-type {
	color: #ba38cb;
}

.cq-queryEl-column {
	color: #3278b3;
}

.cq-queryEl-kyespace {
	color: #1b5aff;
}

.cq-queryEl-index {
	color: #000fff;
}

.cq-queryEl-notSupported {
	color: #444444;
}

.cq-queryEl-value {
	color: #444444;
}

.cq-queryEl-table {
	color: #0a39b3;
}

.cq-queryHint-bodyA {
	color: #ffffff;
	background-color: #77b300;
	border-color: #809a00;
}

.cq-queryHint-bodyA hr {
	border-top-color: #6a8000;
}

.cq-hint-bodyB {
	color: #ffffff;
	background-color: #6cb34b;
	border-color: #809a00;
}

.cq-hint-bodyB hr {
	border-top-color: #6a8000;
}

/* ### CQL Info Hint ### */
.cq-queryHint-dialog {
	position: absolute;
	z-index: 2000;
	margin: 0 1em 0 0;
}

/* ### CQL Help ### */
pre.cq-cqlHelp-sample {
	font-size: 90%;
	padding: 1ex 1ex 1ex 4ex;
	border: 1px solid #ada;
	background-color: #fafffa;
}

pre.cq-cqlHelp-syntax {
	font-size: 90%;
	padding: 1ex 1ex 1ex 4ex;
	border: 1px solid #aaf;
	background-color: #fafaff;
}

.cq-clqHelp-expandSupportBody>div {
	font-size: 90%;
	padding: 1em;
	border: 1px solid #cccccc;
	border-radius: 4px;
}

.cq-clqHelp-expandSupportBodyDiv {
	font-size: 90%;
	padding: 1em;
	border: 1px solid #cccccc;
	border-radius: 4px;
}

/* ### Nav Bar ### */
.cq-nav {
	border-bottom: 1px solid #424221 !important;
	padding-top: 0.5em;
	margin-right: 1em;
	position: fixed;
	z-index: 1030;
	background-color: #060606;
	width: 100%;
}

.cq-tab-content {
	padding-top: 3.5em;
}

.cq-nav ul li a:hover {
	color: #ffffff !important;
	background-color: #2a9fd6 !important;
	border: 1px solid #282828 !important;
	border-bottom-color: transparent !important;
}

.cq-nav ul li a {
	padding: 5px 10px !important;
}

.cq-nav-position {
	float: left;
}

.cq-nav-logout {
	float: right;
}

/* ### Notification Popup ### */
.cq-notify {
	left: 120%;
	overflow: hidden;
	position: fixed;
	width: 50%;
	opacity: 0.9;
	z-index: 10000;
	transition: left 0.3s ease-out 0s;
	bottom: 10px;
}

.cq-notify.in {
	left: 50%;
}

/* ### CQL Text Editor ### */
.cq-cqledit-props {
	resize: vertical;
}

/* ## Data Tables ## */
table.cq-data-table {
	width: auto !important;
	font-size: 13px;
}

/* ### Query Results Table - General ### */
ul.cq-resTable-collectionList {
	padding-top: 0;
	padding-bottom: 0;
}

.cq-resTable-collectionList {
	padding: 1.2em;
	max-height: 10em;
	overflow: auto;
}

table.cq-resTable-table {
	width: auto !important;
}

.cq-resTable-table th, .cq-resTable-table td {
	word-break: break-all;
	max-width: 50em;
	min-width: 10em;
	width: auto;
}

/* ### Query Results Table - Vertical Orientation ### */

/* ### Query Results Table - Horizontal Orientation ### */

/* ### History Page ### */
.cq-history-filterCont {
	float: right;
}

/* ### Import Page ### */
.cq-import-options label {
	white-space: nowrap;
	display: inline-block;
}

.cq-import-options input {
	margin-left: 0.5em !important;
}

.cq-import-btnImport {
	float: right !important;
}

.cq-import-filterKeyword {
	color: red;
}

.cq-import-fileBtn {
	position: relative;
	overflow: hidden;
}

.cq-import-fileBtn input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 999px;
	text-align: right;
	filter: alpha(opacity = 0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

/* ### General ### */
.cq-page-center {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -50px; /* this is half the height of your div*/
	margin-left: -100px; /*this is half of width of your div*/
}

.table th {
	background-color: #1A0000 !important;
	text-align: center;
	vertical-align: middle;
}

.cq-sepLine {
	padding: 0;
	margin: 0.5em 0 0.5em 0;
	border-bottom: 1px solid #424221;
}

.cq-mainContainer {
	padding: 0em 1.5em 0.5em 0.5em;
}

::-webkit-scrollbar {
	width: 10px; /* for vertical scrollbar */
	height: 10px; /* for horizontal scrollbar */
}

::-webkit-scrollbar-track {
	background: #444444;
}

::-webkit-scrollbar-thumb {
	background: #555555;
}

.feedbackPanelERROR {
	color: red;
}

.cq-disableLink {
	color: #444444;
	pointer-events: none;
	cursor: default;
}

.cq-table-sepLine {
	padding: 0;
	margin: 0.5em 0 0.5em 0;
	border-bottom: 1px solid #333333;
}