/* #################################################################### */
/* ### Query Keywords ### */
/* #################################################################### */
.cq-queryEl-keyword {
	color: #9933cc;
}

.cq-queryEl-type {
	color: #ba38cb;
}

.cq-queryEl-column {
	color: #3278b3;
}

.cq-queryEl-kyespace {
	color: #1b5aff;
}

.cq-queryEl-index {
	color: #000fff;
}

.cq-queryEl-notSupported {
	color: #444444;
}

.cq-queryEl-value {
	color: #444444;
}

.cq-queryEl-table {
	color: #0a39b3;
}

/* #################################################################### */
/* ### Query Editor ### */
/* #################################################################### */
.cq-queryEditor-nav {
	padding-bottom: 1em;
}

.cq-cqledit {
	resize: vertical;
}

/* #################################################################### */
/* ### Navigation ### */
/* #################################################################### */
.cq-nav-bar {
	padding-top: 0.4em;
}

/* Fix for position of log-out button, so that it keeps distance from right side of the screen. */
.cq-navbar-right{
	margin-right: 0 !important;
}

/* thinner nav bar */
.navbar-nav > li > a {padding-top:8px !important; padding-bottom:8px !important;}
.navbar {min-height:32px !important}

/* #################################################################### */
/* ### Query Hint ### */
/* #################################################################### */
.cq-queryHint-dialog {
	position: absolute;
	z-index: 2000;
}

.cq-queryHint-bodyA {
	background-color: #008619;
}

.cq-hint-bodyB {
	background-color: #529749;
}

/* #################################################################### */
/* ### Query Results Table - General ### */
/* #################################################################### */
ul.cq-resTable-collectionList {
	padding-top: 0;
	padding-bottom: 0;
}

.cq-resTable-collectionList {
	padding: 1.2em;
	max-height: 10em;
	overflow: auto;
}

.cq-resTable-table th, .cq-resTable-table td {
	word-break: break-all;
	max-width: 50em;
	min-width: 10em;
	width: auto;
}

.cq-resTable-pager>ul{
	margin: 20px 0 5px 0 !important;
}

/* #################################################################### */
/* ### Query Results Table - Vertical Orientation ### */
/* #################################################################### */

/* #################################################################### */
/* ### Query Results Table - Horizontal Orientation ### */
/* #################################################################### */

/* Remove column highlighting on Partition Key */
table.cq-resTable-table>tbody>tr:hover>:first-child {
	background: #2E3338 !important;
}

/* Partition Key column should have the same color a table header */
table.cq-resTable-table>tbody>tr>th {
	background: #2E3338 !important;
}

/* #################################################################### */
/* ### Notification Popup ### */
/* #################################################################### */
.cq-notify {
	left: 120%;
	overflow: hidden;
	position: fixed;
	width: 50%;
	opacity: 0.9;
	z-index: 10000;
	transition: left 0.3s ease-out 0s;
	bottom: 10px;
}

.cq-notify.in {
	left: 50%;
}

/* ### CQL Help ### */
pre.cq-cqlHelp-sample,
pre.cq-cqlHelp-syntax {
	font-size: 90%;
	padding: 1ex 1ex 1ex 4ex;
	border: 1px solid #ada;
}

.cq-clqHelp-expandSupportBody>div {
	font-size: 90%;
	padding: 1em;
	border: 1px solid #f5f5f5;
	border-radius: 4px;
	margin-top: 1em;
}

/* #################################################################### */
/* ### History Page ### */
/* #################################################################### */
.cq-history-filterCont {
	float: right;
	margin: 20px 0 20px 0;
	white-space: nowrap;
}

.cq-history-keyword {
	color: #AE0000;
}

/* #################################################################### */
/* ### Import Page ### */
/* #################################################################### */
.cq-import-fileBtn input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 999px;
	text-align: right;
	filter: alpha(opacity = 0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

/* #################################################################### */
/* ### General ### */
/* #################################################################### */
body {
	font-size: 12px !important;
}

.cq-page-center {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -50px; /* this is half the height of your div*/
	margin-left: -100px; /*this is half of width of your div*/
}

.cq-disableLink {
	color: #444444;
	pointer-events: none;
	cursor: default;
}