/* #################################################################### */
/* ### Query Keywords ### */
/* #################################################################### */
.cq-queryEl-keyword {
	color: #9933cc;
}

.cq-queryEl-type {
	color: #ba38cb;
}

.cq-queryEl-column {
	color: #3278b3;
}

.cq-queryEl-kyespace {
	color: #1b5aff;
}

.cq-queryEl-index {
	color: #000fff;
}

.cq-queryEl-notSupported {
	color: #444444;
}

.cq-queryEl-value {
	color: #444444;
}

.cq-queryEl-table {
	color: #0a39b3;
}

/* #################################################################### */
/* ### Query editor ### */
/* #################################################################### */
.cq-queryEditor-nav {
	padding-bottom: 1em;
}

.cq-cqledit {
	resize: vertical;
}

/* #################################################################### */
/* ### Navigation ### */
/* #################################################################### */
.cq-nav-bar {
	padding-top: 1em;
}

/* Fix for position of log-out button, so that it keeps distance from right side of the screen. */
.cq-navbar-right{
	margin-right: 0 !important;
}

/* #################################################################### */
/* ### Query Hint ### */
/* #################################################################### */
.cq-queryHint-dialog {
	position: absolute;
	z-index: 2000;
}

.cq-queryHint-bodyA {
	background-color: #008619;
}

.cq-hint-bodyB {
	background-color: #529749;
}

/* #################################################################### */
/* ### Query Results Table - General ### */
/* #################################################################### */
ul.cq-resTable-collectionList {
	padding-top: 0;
	padding-bottom: 0;
}

.cq-resTable-collectionList {
	padding: 1.2em;
	max-height: 10em;
	overflow: auto;
}

.cq-resTable-table th, .cq-resTable-table td {
	word-break: break-all;
	max-width: 50em;
	min-width: 10em;
	width: auto;
}

/* #################################################################### */
/* ### Query Results Table - Vertical Orientation ### */
/* #################################################################### */

/* #################################################################### */
/* ### Query Results Table - Horizontal Orientation ### */
/* #################################################################### */

/* Remove column highlighting on Partition Key */
table.cq-resTable-table>tbody>tr:hover>:first-child {
	background: #2E3338 !important;
}

/* Partition Key column should have the same color a table header */
table.cq-resTable-table>tbody>tr>th {
	background: #2E3338 !important;
}

/* #################################################################### */
/* ### Notification Popup ### */
/* #################################################################### */
.cq-notify {
	left: 120%;
	overflow: hidden;
	position: fixed;
	width: 50%;
	opacity: 0.9;
	z-index: 10000;
	transition: left 0.3s ease-out 0s;
	bottom: 10px;
}

.cq-notify.in {
	left: 50%;
}

/* #################################################################### */
/* ### General ### */
/* #################################################################### */
.cq-sepLine {
	padding: 0;
	margin: 0.5em 0 0.5em 0;
	border-bottom: 1px solid #424221;
}
