/* ### Paging Navigator ### */
.cq-paging-dropdown {
	padding-top: 4px !important;
	padding-bottom: 4px !important;
}

.cq-paging-dropdown > select  {
	border: 1 !important;
	border-color: white;
	border-radius: 4px 4px 4px 4px;
	background: #222222;
	color: white;
}

.cq-paging-dropdown > select:hover {
	cursor: pointer;
}

.cq-paging-general {
	margin: 0 !important;
}

.cq-paging-general>li>a:hover, .cq-paging-general>li>span:hover, .cq-paging-general>li>a:focus, .cq-paging-general>li>span:focus {
	background-color: #2a9fd6 !important;
	border-color: #2a9fd6 !important;
}

.cq-paging-general>li.disabled>a:hover {
	background-color: #222222 !important;
	border: 1px solid #282828 !important;
}