<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{"HH:mm:ss,SSS"} [%thread] %-5level %class::%method - %msg%n
            </pattern>
        </encoder>
    </appender>

    <root>
        <level value="ERROR"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>